*.swp
*.o
*.hi
*.dot
*.png
*.log
*log
*log.txt
z3-4.6.0/
z3-4.6.0.zip
dmochi-bin/
.cabal-sandbox/
.stack-work/

.vscode
dist/
cabal.sandbox.config
activate.sh
tmp/
Boolean/cpstest/
ML/sample/
tests/work
tests/log
