*.swp
*.o
*.hi
*.dot
.cabal-sandbox/
dist/
cabal.sandbox.config
activate.sh
tmp/
ML/sample/*.log
ML/sample/*.hrs
ML/sample/*.rnd
ML/sample/*.bool
ML/sample/*.horsat
ML/sample/*.preface
Boolean/cpstest/
ML/sample/

